<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dora.bugskiller.console.mapper.CrashInfoMapper">
    <resultMap id="BaseResultMap" type="dora.bugskiller.console.pojo.CrashInfo">
        <result column="versionName" property="versionName" />
        <result column="versionCode" property="versionCode" />
        <result column="sdkVersion" property="sdkVersion" />
        <result column="androidVersion" property="androidVersion" />
        <result column="model" property="model" />
        <result column="brand" property="brand" />
        <result column="androidException" property="androidException" />
    </resultMap>

    <sql id="Base_Column_List">
		versionName, versionCode, sdkVersion, androidVersion, model, brand, androidException
	</sql>

    <insert id="insert" parameterType="dora.bugskiller.console.pojo.CrashInfo">
        INSERT INTO crash_info(versionName, versionCode, sdkVersion, androidVersion, model, brand, androidException)
        VALUES(#{versionName}, #{versionCode}, #{sdkVersion}, #{androidVersion}, #{model}, #{brand}, #{androidException})
    </insert>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM crash_info ORDER BY id DESC
    </select>
</mapper>